server {  
    listen 80;  
    listen [::]:80;  
    server_name ua01505dk;  

    location / {    
        root /usr/share/nginx/html;    
        index index.html index.htm;  
    }  
    
    location /muclone {    
        proxy_pass http://10.253.131.15:8080/muclone;  
    }  
        
    error_page 500 502 503 504 /50x.html;  
    location = /50x.html {    
        root /usr/share/nginx/html;  
    }
}